.blogWrap {
  nav {
    margin-bottom: 40px;
    background: $darkRed;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    li {
      margin-top: 0;
    }
    a {
      color: white;
      display: block;
      padding: 12px 0;
      font-weight: 700;
    }
    .search {
      display: none;
    }
  }
  h1 {
		font-size: 24px;
		font-weight: 700;
		border-left: 8px solid $Red;
		padding-left: 16px;
		margin-bottom: 24px;
	}
  h2 {
		font-size: 24px;
    color: $darkRed;
	}
  .content {
    font-weight: 500;
  }
  h3 {
    color: #000;
  }
  li {
    margin-top: 24px;
  }
  .blogImg {
    width: 348px;
    height: 208px;
    background-size: cover;
    background-position: center;
  }
  .blogImg1 {
    background-image: url("../images/week3-4/blog-1.png");
  }
  .blogImg2 {
    background-image: url("../images/week3-4/blog-2.png");
  }
  .blogImg3 {
    background-image: url("../images/week3-4/blog-3.png");
  }
  .blogImg4 {
    background-image: url("../images/week3-4/blog-4.png");
  }
  .blogImg5 {
    background-image: url("../images/week3-4/blog-5.png");
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
  .preview {
    display: none;
  }
}
.page {
  display: flex;
  text-align: center;
  ul {
    margin: 64px auto;
    width: 100%;
    display: flex;
  }
  .changePage {
    width: 21.43%;
  }
  .num {
    width: 11.43%;
  }
  a {
    color: #555555;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 12px 0;
    border: 1px solid #555555;
  }
  .active {
    background: #000;
    color: white;
  }
  .nextPage {
    background: #F2F2F2;
  }
}
@include pad {
  .blogWrap {
    nav {
      margin-bottom: 80px;
      .lsAndSearch {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      a {
        font-size: 20px;
      }
      .material-icons {
        font-size: 40px;
      }
      ul {
        width: 69.54%;
      }
      .search {
        display: initial;
      }
    }
    h1 {
      font-size: 48px;
      margin-bottom: 40px;
    }
    .blogImg {
      width: 336px;
    }
    li {
      display: flex;
      justify-content: space-between;
    }
    article {
      width: 336px;
    }
    .content {
      margin-bottom: 4px;
    }
    .previewTablet {
      display: initial;
      color: #555555;
    }
  }
  .page {
    ul {
      margin: 80px auto;
      width: 53.45%;
    }
  }
}
@include pc {
  .blogWrap {
    nav {
      margin-bottom: 96px;
      ul {
        width: 45%;
      }
    }
    .blogImg {
      width: 48.5%;
      height: 285px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 20px;
    }    
    li {
      margin-top: 32px;
    }
    article {
      width: 48.5%;
    }
    .content {
      width: 100%;
      align-items: center;
      margin-bottom: 16px;

    }
    .previewTablet {
      display: none;
    }
    .previewPc {
      display: initial;
      display: flex;
      width: 100%;
      height: calc(100% - 48px - 30px - 16px);
      flex-direction: column;
      justify-content: space-between;
      p {
        color: #555555;
        // font-size: 20px;
      }
      h4 {
        color: $darkRed;
        font-size: 36px;
        font-weight: 900;
        text-align: right;
      }
    }
  }
  .page {
    ul {
      width: 35%;
    }
  }
}