main {
  .banner {
    color: $darkRed;
    display: flex;
    background-image: url("../images/week3-4/home-header-sm.png");
    background-position: 5%;
    background-size: cover;
    height: calc(100vh - 168.57px);
    text-align: right;
    .container {
      display: flex;
      justify-content: end;
    }
    .bannerContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      h3 {
        font-size: 16px;
      }
      h1 {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 8px;
      }
      div {
        width: 44.9%;
      }
      a {
        font-weight: 500;
        font-size: 20px;
        display: block;
        background: #aa0601;
        padding: 6px 0px;
        color: white;
        text-align: center;
      }
    }
  }
  .slogan {
    padding: 40px 0;
    background: $pink;
    text-align: center;
    h2,
    h4 {
      font-weight: 700;
      font-size: 24px;
      color: $darkRed;
    }
    h4 {
      margin-bottom: 8px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      img {
        height: 100px;
        margin: 24px 0 16px 0;
      }
      p {
        text-align: left;
      }
    }
  }
  .classic {
    margin: 40px 0;
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 24px;
      color: $darkRed;
    }
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    li {
      a {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 48px;
        font-style: italic;
        color: $Red;
      }
    }
    img {
      margin: 24px 0 8px 0;
      height: 348px;
    }
  }
  .colab {
    text-align: center;
    padding: 40px 0;
    background-image: url("../images/week3-4/index-bg-sm.png");
    background-position: center;
    h2 {
      font-weight: 700;
      font-size: 24px;
      color: white;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      img {
        margin-top: 24px;
        height: 240px;
      }
      a {
        font-family: "Roboto", sans-serif;
        font-style: italic;
        font-weight: 900;
        color: $Red;
        font-size: 48px;
        display: block;
        background: white;
      }
    }
  }
  .cosRec {
    margin: 40px 0;
    h2 {
      font-weight: 700;
      color: $darkRed;
      font-size: 24px;
      text-align: center;
      margin-bottom: 8px;
    }
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      width: 348px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      margin-top: 16px;
      h5 {
        font-weight: 500;
        margin: 16px 16px 8px 16px;
      }
      div {
        margin: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 141px;
      }
      .date {
        font-size: 14px;
        color: $gray;
        margin-bottom: 16px;
      }
    }
    img {
      height: 348px;
    }
  }
  .contactForm {
    background: $pink;
    padding: 40px 0;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      font-weight: 700;
      color: $darkRed;
      font-size: 24px;
      text-align: center;
      margin-bottom: 24px;
    }
    .formExpl {
      margin-bottom: 24px;
    }
    p {
      font-size: 16px;
    }
    form {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 8px;
      }
      input {
        margin-bottom: 16px;
      }
      textarea {
        resize:none;
      }
    }
    .agreePrivacy {
      margin: 16px 0 24px 0;
    }
    .formBtn {
      display: flex;
      justify-content: center;
    }
    a {
      font-weight: 700;
      width: 100%;
      text-align: center;
      display: block;
      padding: 16px 0;
      background: $Red;
      color: white;
    }
    a:hover {
      opacity: 1;
      background: $darkRed;
    }
  }
}
@include pad {
  .container {
    padding: 0 12px;
  }
  main {
    .banner {
      background-position: 41%;
      height: calc(100vh - 80.57px);
      .bannerContent {
        // min-width: 576px;
        h3 {
          font-size: 36px;
        }
        h1 {
          font-size: 64px;
          margin-bottom: 4px;
        }
        div {
          width: 18.06%;
        }
      }
    }
    .slogan {
      padding: 80px 0;
      h2 {
        font-size: 48px;
      }
      ul {
        justify-content: space-between;
      }
      li {
        width: 336px;
      }
    }
    .classic {
      margin: 80px 0;
      h2 {
        font-size: 48px;
        margin-bottom: 24px;
      }
      ul {
        flex-direction: column;
        align-items: center;
      }
      li {
        width: 336px;
      }
      img {
        height: 336px;
      }
    }
    .colab {
      padding: 80px 0;
      h2 {
        font-size: 48px;
        margin-bottom: 24px;
      }
      .coLabImg1 {
        content: url("../images/week3-4/home-section4-1.png");
      }
      .coLabImg2 {
        content: url("../images/week3-4/home-section4-2.png");
      }
    }
    .cosRec {
      margin: 80px 0;
      h2 {
        font-size: 48px;
        margin-bottom: 24px;
      }
      ul {
        justify-content: space-between;
      }
      li {
        margin-top: 24px;
        width: 336px;
      }
      img {
        height: 336px;
      }
    }
    .contactForm {
      padding: 80px 0;
      .formExpl {
        width: 82.76%;
      }
      form {
        width: 82.76%;
      }
      a {
        width: 58.33%;
      }
    }
  }
}
@include pc {
  .container {
    padding: 0 12px;
  }
  main {
    .banner {
      background-image: url("../images/week3-4/home-header.png");
      background-position: center;
      height: 72.87vh;
    }
    .slogan {
      li {
        width: 25%;
        padding: 0 12px;
        margin: 0 -12px;
      }
    }
    .classic {
      ul {
        flex-direction: row;
        justify-content: space-between;
      }
      li {
        width: 33.3333%;
        padding: 0 12px;
        margin: 0 -12px;
        a {
          font-size: 40px;
        }
      }
      img {
        height: auto;
      }
    }
    .colab {
      background-image: url("../images/week3-4/index-bg.png");
      img {
        width: 648px;
      }
    }
    .cosRec {
      ul {
        justify-content: space-between;
      }
      li {
        width: 25%;
        padding: 0 12px;
        margin: 0 -12px;
      }
      img {
        height: auto;
      }
    }
    .contactForm {
      .formExpl {
        width: 49.07%;
      }
      p {
        font-size: 20px;
      }
      form {
        width: 49.07%;
      }
      .agreePrivacy {
        margin: 16px 0 48px 0;
      }
      a {
        width: 65.4%;
      }
    }
  }
}