body {
  position: relative;
}
header {
  position: sticky;
  background: $Red;
  top: 0;
  left: 0;
  .container {
    padding: 0;
  }
  nav {
    .logo {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        height: 48.57px;
        margin: 16px 0;
      }
    }
    ul {
      font-size: 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    li {
      border: 1px solid white;
      width: 50%;
      a {
        text-align: center;
        display: block;
        padding: 12px 0;
        color: white;
      }
    }
  }
}
footer {
  background: $Red;
  padding: 24px 0;
  position: relative;
  .links {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 24px;
    left: 12px;
    width: calc(100% - 24px);
    .navLs {
      display: none;
    }
    .society {
      width: 25.07%;
      display: flex;
      justify-content: space-between;
    }
    img {
      height: 24px;
    }
  }
  .contact {
    position: absolute;
    top: 24px;
    left: 12px;
    li {
      margin-top: 8px;
      a {
        display: flex;
        align-items: center;
        color: white;
      }
      .material-icons {
        margin-right: 8px;
      }
    }
  }
  .rights {
    color: white;
    margin-top: 104px;
    border-top: 1px solid white;
    padding-top: 16px;
    li {
      margin-top: 8px;
      a {
        color: white;
      }
    }
  }
}
@include pad {
  header {
    .container {
      padding: 0 12px;
    }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 80px;
      }
      ul {
        width: 70.69%;
        justify-content: space-between;
      }
      li {
        border: none;
        width: initial;
      }
    }
  }
  footer {
    position: initial;
    padding: 48px 0 40px 0;
    .links {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: initial;
      .navLs {
        width: 66.67%;
        display: flex;
        justify-content: space-between;
      }
      a {
        color: white;
      }
      .society {
        width: 21.84%;
      }
      img {
        height: 40px;
      }
    }
    .contact {
      position: initial;
      font-size: 36px;
    }
    .material-icons {
      font-size: 36px;
      line-height: 1.5;
    }
    .rights {
      margin-top: 32px;
      padding-top: 32px;
      display: flex;
      justify-content: space-between;
      ul {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        width: 25%;
      }
    }
  }
}
@include pc {
  header {
    nav {
      ul {
        width: 37.96%;
      }
    }
  }
  footer {
    padding: 48px 0 32px 0;
    .links {
      .navLs {
        width: 35.8%;
      }
      .society {
        width: 16.04%;
      }
      img {
        height: 48px;
      }
    }
    .contact {
      margin-top: 24px;
    }
    .rights {
      ul {
        width: 15%;
      }
    }
  }
}