.shopMapImg {
  margin-top: 24px;
  width: 348px;
  height: 224px;
  background-position: center;
  background-size: cover;
  background-image: url("../images/week3-4/store-1.png");
}
.mapInfo {
  margin-bottom: 24px;
  a {
    color: #000;
    font-size: 24px;
    display: block;
    border: 1px solid #00000020;
  }
  h2 {
    margin-left: 24px;
    padding: 8px 0;
  }
  .shopInfo {
    width: 337px;
    border: 1px solid #00000020;
    padding:8px 0 16px 24px;
    li {
      margin-top: 8px;
    }
    .material-icons {
      margin-top: 5px;
      margin-right: 8px;
    }
    a {
      display: flex;
      font-size: 20px;
      border: none;
    }
  }
  p {
    width: 268px;
  }
}
.googleMap {
  margin-bottom: 64px;
  .tablet, .pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .shopCheckLs {
    div {
      margin-bottom: 40px;
    }
  }
  .shopMap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .shopMapImg {
    width: 337px;
    margin: 0;
  }
  .mapInfo {
    margin: 0;
    p {
      width: 257px;
    }
  }
  .googleMap {
    margin-bottom: 80px;
    .phone {
      display: none;
    }
    .tablet {
      display: initial;
    }
  }
}
@media screen and (min-width: 1296px) {
  .shopMapWrap {
    display: flex;
  }
  .shopMap {
    flex-direction: column;
    justify-content: start;
  }
  .shopMapImg {
    width: 526px;
  }
  .mapInfo {
    width: 100%;
    .shopInfo {
      width: 100%;
    }
    p {
      width: 100%;
    }
  }
  .googleMap {
    margin-left: 24px;
    .tablet {
      display: none;
    }
    .pc {
      display: initial;
    }
  }
}
