.shopCheckLs {
  margin-top: 40px;
  h1 {
    font-size: 24px;
    font-weight: 700;
    border-left: 8px solid $Red;
    padding-left: 16px;
    margin-bottom: 24px;;
  }
  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  select {
    width: 78.63%;
    border-radius: 0;
    border: 1px solid #CED4DA;
    font-size: 18px;
    height: 38px;
    color: #495057;
  }
}
.citySet {
  margin-bottom: 64px;
  .shopImg {
    width: 348px;
    height: 224px;
    background-position: center;
    background-size: cover;
  }
  li {
    width: 348px;
    margin-top: 24px;
  }
  a {
    color: #000;
    font-size: 24px;
    display: block;
    padding: 4px 0;
    border: 1px solid #00000020;
  }
  h2 {
    margin-left: 24px;
  }
  .shopImg1 {
    background-image: url("../images/week3-4/store-1.png");
  }
  .shopImg2 {
    background-image: url("../images/week3-4/store-2.png");
  }
  .shopImg3 {
    background-image: url("../images/week3-4/store-3.png");
  }
  .shopImg4 {
    background-image: url("../images/week3-4/store-4.png");
  }
  .shopImg5 {
    background-image: url("../images/week3-4/store-5.png");
  }
  .shopInfo {
    border: 1px solid #00000020;
    padding: 0 24px;
    li {
      margin-top: 8px;
    }
    .material-icons {
      margin-top: 5px;
      margin-right: 8px;
    }
    a {
      display: flex;
      font-size: 20px;
      border: none;
    }
    p {
      width: 268px;
    }
  }
  .moreInfo {
    background: #000;
    color: white;
    padding: 16px 0;
    font-size: 19px;
    text-align: center;
  }
}
@include pad {
  .shopCheckLs {
    margin-top: 80px;
    h1 {
      margin-bottom: 32px;
      font-size: 48px;
    }
    div {
      justify-content: start;
      margin-bottom: 16px;
    }
    label {
      font-size: 24px;
    }
    select {
      width: 304px;
      margin-left: 16px;
    }
  }
  .citySet {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .shopImg {
      width: 336px;
    }
    li {
      width: 336px;
      margin-top: 48px;
    }
  }
}
@include pc {
  .shopCheckLs {
    margin-top: 96px;
  }
  .citySet {
    margin: 0 -12px 96px -12px;
    justify-content: start;
    .shopImg {
      width: 100%;
    }
    li {
      padding: 0 12px;
      margin-top: 48px;
      width: 33.3333%;
    }
  }
  .shopInfo {
    li {
      padding: 0;
      width: 100%;
      p {
        font-size: 16px;
      }
    }
  }
}
